<mat-dialog-content>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="date"
    matSortDirection="asc" id="excel-table">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date.toDate() | date: 'dd/MM'}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.type === 'D' ? 'debit' : 'credit'"> {{element.amount |
        currency: 'LKR '}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="selectedRowId === row.id ? 'selected-row' : ''" (click)="selectedRowId = row.id" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button type="button" mat-raised-button color="primary" (click)="exportToExcel()">Export</button>
  <button *ngIf="!!selectedRowId" type="button" mat-raised-button color="warn" (click)="deleteRow()">Delete</button>
</mat-dialog-content>
