<router-outlet />

<!-- <h2>Expense Tracker - Abdullah Mansoor</h2>

<div class="create-expense">
  <app-expense-form />
</div>

<div class="suggestions">
  <mat-chip-set aria-label="Suggestions">
    <mat-chip
      *ngFor="let suggestion of suggestions$ | async"
      (click)="changeDescription(suggestion.name)"
    >
      {{ suggestion.name }}</mat-chip
    >
    <mat-chip (click)="changeDescription('')">X</mat-chip>
  </mat-chip-set>
</div>

<div class="summary" *ngIf="vm$ | async as vm">
  <p>
    Salary Credited:
    <span class="credit">{{ vm.summary.salary | currency : "LKR " }}</span>
  </p>
  <p>
    Savings:
    <span class="credit">{{
      getSavings(vm.expenses) | currency : "LKR "
    }}</span>
  </p>
  <p>AMEX Due:</p>
  <p>
    <span class="debit">
      {{ vm.summary.amexDue | currency : "LKR " }}
    </span>
    -
    <span class="credit">
      {{ getSumOf(vm.expenses, commonEnum.AMEX) | currency : "LKR " }}
    </span>
    =
    <span
      [ngClass]="
        finalDue(vm.summary.amexDue, vm.expenses, commonEnum.AMEX) > 0
          ? 'debit'
          : 'credit'
      "
    >
      {{
        finalDue(vm.summary.amexDue, vm.expenses, commonEnum.AMEX)
          | currency : "LKR "
      }}
    </span>
  </p>
  <p>HSBC Due:</p>
  <p>
    <span class="debit">
      {{ vm.summary.hsbcDue | currency : "LKR " }}
    </span>
    -
    <span class="credit">
      {{ getSumOf(vm.expenses, commonEnum.HSBC) | currency : "LKR " }}
    </span>
    =
    <span
      [ngClass]="
        finalDue(vm.summary.hsbcDue, vm.expenses, commonEnum.HSBC) > 0
          ? 'debit'
          : 'credit'
      "
    >
      {{
        finalDue(vm.summary.hsbcDue, vm.expenses, commonEnum.HSBC)
          | currency : "LKR "
      }}
    </span>
  </p>
  <p>
    Total Expenses:
    <span class="debit">
      {{ getTotalExpense(vm.expenses) | currency : "LKR " }}
    </span>
  </p>
  <p>
    Balance Remaining:
    <span
      [ngClass]="
        getBalance(vm.summary.salary, vm.expenses) > 0 ? 'credit' : 'debit'
      "
    >
      {{ getBalance(vm.summary.salary, vm.expenses) | currency : "LKR " }}
    </span>
  </p>
  <button
    mat-raised-button
    type="button"
    (click)="viewAllExpenses(vm.expenses)"
  >
    View All
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="download(vm.expenses)"
  >
    Download
  </button>
</div> -->
