h2 {
  margin-top: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-expense {
  padding: 2%;
}

.suggestions {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.summary {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit, .debit {
  font-weight: bold;
}

.mat-chip:hover {
  cursor: pointer;
}
