<h2>Expense Tracker - Abdullah Mansoor</h2>

<div class="create-expense">
  <form autocomplete="off" [formGroup]="expenseForm" (ngSubmit)="addExpense()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput type="text" >
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Amount</mat-label>
      <input formControlName="amount" matInput type="number" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Transaction Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="D">Debit</mat-option>
        <mat-option value="C">Credit</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Add Expense</button>
  </form>
</div>

<div class="suggestions">
  <mat-chip-list aria-label="Suggestions">
    <mat-chip *ngFor="let suggestion of suggestions$ | async" (click)="changeDescription(suggestion.name)">{{suggestion.name}}</mat-chip>
    <mat-chip (click)="changeDescription('')">X</mat-chip>
  </mat-chip-list>
</div>
